<div class="container" > 
  <p><%= @post.title  %></p>
  <p><%= @post.author_name %></p>
  <p><%= @post.body  %></p>
  
  <p><% @tags.each do |tag| %></p>
  <p><%= tag.name %></p>
  <p><% end %></p>

  <p><a href = "/post/<%= @post.id %>/edit">EDIT</a>

  <p><a href = "/post/<%= @post.id %>/delete">DELETE</a>  
</div>
